<!DOCTYPE html>
<html ng-app="ProductApp">
<head>
	<base href="/">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>GIFTANO</title>

	<link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.min.css" />

	<script type="text/javascript" src="/statics/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/statics/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/statics/js/angular.min.js"></script>
	<script type="text/javascript" src="/statics/js/angular-ui-router.min.js"></script>

	<script type="text/javascript" src="/statics/js/ui-bootstrap-tpls-0.14.1.min.js"></script>
	<script type="text/javascript" src="/statics/js/bootstrap.min.js"></script>
	
	<!-- Services -->
	<script type="text/javascript" src="/client/services/category.js"></script>
	<script type="text/javascript" src="/client/services/product.js"></script>
	
	<!-- Controller -->
	<script type="text/javascript" src="/client/controllers/productCtrl.js"></script>
	<script type="text/javascript" src="/client/controllers/categoryCtrl.js"></script>

	<!-- main -->
	<script type="text/javascript" src="/client/routes/product.js"></script>
	<script type="text/javascript" src="/client/product.js"></script>

	<body>
		<div ui-view></div>
	</body>
	</html>
